<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
    <center>
        <div style="font-family: lucida sans,sans serif;font-size:15px; width: 85%;">
                <div>
                    <div style="padding:0px;margin: 0 auto;">
                        <img src="<%= process.env.BASE_URL%>assets/img/landing/logo.jpg">
                        <p style="margin: 0 auto;margin-left: 20px;display: inline-block;vertical-align: top;padding-top: 10px;width: 70%;text-align: left; align-self: auto;">iView Labs is a top product development
                            company in India & United States. We build award winning web, mobile and cloud apps for
                            startups & enterprises.</p>
                    </div>
                </div>
        </div>
    </center>
    </body>
</html>
