<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href ="">
    </head>
    <%- include('header.ejs') %>
    <body>
        
        <div style="padding-left:50px;margin: 0 auto;color: black;background-color: transparent;width: 60%;">
            <br><br>
            
            Hello <%= name%>,<br><br>
            Thank you for showing interest in us. Our talent acquisition team will contact you soon.<br>
            We also have WALK-IN going on every Friday 4:00 PM to 6:00 PM.<br><br>
            <b>Our Hiring Process:</b> <br>
            1) F2F (Face to Face Max. 30 minutes) [2 rounds],<br>
            2) Offer discussion & Joining formalities<br><br>
            Kindly call the team for the same in case you have not received the revert on your interview schedule.<br>
            The no is +91 98250 84610 <br><br>
            Thanks for your time.<br>
            Have a nice day!<br><br>
            <b>Best Regards</b>,<br>
            iView Labs Pvt. Ltd.<br>
            <a style='color:#bb2428' href = 'mailto:<%= process.env.INFO_EMAIL %>'><b>info@iviewlabs.com</b></a> | <a style='color:#bb2428' href='https://iviewlabs.com/'><b>www.iviewlabs.com</b></a>
        </div><br><br>
        <script src="" async defer></script>
    </body>
    <%- include('footer.ejs') %>
</html>